body {
  font-family: 'Lato';
  box-sizing: border-box;
}

h2 {
  margin: 20px 0;
}

#sideLogo, #topLogo {
  width: 180px;
  max-width: 90%;
  cursor: pointer;
}

.sideNav {
  height: 100%;
  width: 200px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c0bfbf;
  overflow-x: hidden;
}

.topNav {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100vw - 200px);
  z-index: 1;
  background-color: #efefef;
}

#topMenu {
  display: none;
}

.main {
  margin-left: 200px;
  margin-top: 55px;
  padding: 30px;
  min-height: calc(100vh - 105px);
}

.footer {
  margin-left: 200px;
  height: 50px;
  background-color: #efefef;
}

.contentDiv {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}

.icon {
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.marginBottom {
  margin-bottom: 10px;
}

.verticalMargin {
  margin-bottom: 20px;
  margin-top: 20px;
}

#copyright {
  padding-top: 10px;
  padding-right: 30px;
  text-align: right;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
  display: inline-block;
}

.transparent {
  background-color: transparent;
  border: 0px;
}

.icon {
  color: #484a4d;
}

.newsBtn {
  width: 80px;
  margin-right: 10px;
}


@media screen and (max-width: 800px) {
  #topMenu {
    display: block;
  }

  .topNav {
    left: 0;
    width: 100%;
  }

  .sideNav, #topDefault, #sideLogo {
    display: none;
  }

  .main, .footer, .topNav {
    margin-left: 0px;
  }

  .main {
    padding: 10px;
  }

  #copyright {
    text-align: center;
    padding-right: 0;
  }

}